<div id='email' style='width:600px;margin: auto;background:white;'>
    <!-- Header -->
    <table role='presentation' border='0' width='100%' cellspacing='0'>
        <tr>
            <td bgcolor='#FFFFFF' align='center' style='padding:20px 0 ;'>
                <img alt='talents_point_logo' src='cid:logo' />
            </td>
        </tr>
    </table>

    <!-- Body 1 -->
    <table style='background-color: #FCF8E1;' role='presentation' border='0' width='100%' cellspacing='0'>
        <tr>
            <td style='padding: 30px 30px 30px 60px;'>
                <p>Dear {{fullName}},</p>
                
                <p>I hope this email finds you well. As a leading talent agency, we understand the importance of finding the right fit
                    for your team. Based on your requirements, qualifications, and experiences, our team will carefully curated a list
                    of recommended talents that we believe would meet your needs. Please find the list of recommendations in the
                    dashboard and feel free to accept for reject them.</p>
                
                <p>We are confident that our recommended talented individuals possess the necessary skills and expertise to excel in the
                    role you are seeking to fill. However, we understand that you may have specific preferences, and we are happy to
                    continue working with you until we find the perfect match.</p>
                
                <p>Please take your time to review the recommended talents and let us know if you have any questions or concerns. We are
                    always here to help and provide any additional information you may need.</p>
                
                <p>Thank you for considering us as your talent hub. We look forward to the opportunity to work with you and help you
                    find the right talent for your organization.</p>
                
                <p>Best regards,</p>    
            </td>

        </tr>

    </table>

    <!-- Body 2-->
    <table role='presentation' border='0' width='100%' cellspacing='0'>

        <tr>
            <td style='vertical-align: top;
  padding: 30px 0px 30px 0px;text-align: center;'>
                <h3 style='color:#352E42 ;font-size: 18px;font-weight: 700;'>Get
                    In Touch</h3>
            </td>

        </tr>

    </table>

    {{! Body 3 }}
    <table width='150' align='center' border='0' cellpadding='0' cellspacing='5'>
        <tr style='text-align: center;'>
            <td style='font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;text-align: center;'>
                <a href='https://www.facebook.com/talentpointusa/' style='color: #ffffff;'>
                    <img style='margin: 0 5px;' src='cid:facebook' />
                </a>
            </td>
            <td style=''>
                <a href='https://www.instagram.com/talentpointusa/' style='color: #ffffff;'>
                    <img style='margin: 0 5px' src='cid:instagram' />
                </a>
            </td>
            <td style='font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;'>
                <a href='https://www.linkedin.com/company/talentpointusa/' style='color: #ffffff;'>
                    <img style='margin: 0 5px' src='cid:linkedin' />
                </a>
            </td>
        </tr>

    </table>

    <table width='100%' style='margin: 20px 0;'>
        <tr style='text-align: center;'>
            <td style='text-align: center;'>
                <p style='font-size:14px ;font-weight: 500px;color: #675F75;margin: 0 5px;'>Terms Of Service</p>
            </td>
            <td>

                <p style='font-size:14px ;font-weight: 500px;color: #675F75;margin: 0 5px;'>Our Policies</p>
            </td>
            <td>

                <p style='font-size:14px ;font-weight: 500px;color: #675F75; margin: 0 5px;'>Help Center</p>
            </td>

        </tr>
    </table>

    <!-- Footer -->
    <table role='presentation' border='0' width='100%' cellspacing='0'>
        <tr>
            <td bgcolor='#262626' style='padding: 30px 30px;text-align: center;height: 51px;'>
                <p style='font-size:14px ;font-weight: 500px;color: #FFFFFF;'>
                    &copy; 2022 Talentpoint. All Rights Reserved.</p>
            </td>
        </tr>
    </table>
</div>