<p>Hi {{name}},</p>
<p>Thank you for joining Talentpoint.We are pleased to welcome you to our
    growing community of remote talents.</p>

<p>We ensure our talents receive the best experience by working with top-notch
    US-based companies.</p>

<p>Firstly, we’ll need you to go through our vetting process so that we know
    more about you and your expectations.</p>

<p>Here’s how we do it!</p>

<p>1. Initial Interview:</p>
<p>Our HR team will contact you via call or email to get a clear understanding
    of your experience and your expectations from us.</p>

<p>2. English Test: </p>
<p>Since we are focused on catering to the US market, we test your English
    fluency. If there is room for improvement, we’ll work on them with you.</p>

<p>3. Technical Skills and Aptitude Test:</p>
<p>We believe in hiring the best talent. We will test your technical skills to
    confirm your area of expertise. We would also like to know your commitment
    to the company through an aptitude test.</p>

<p>4. Background Check:</p>
<p>We will conduct a thorough background check and contact the references you
    provide us with, to know you and your work ethic in detail.</p>

<p>Once you have cleared the following steps, we will assign you to projects and
    unique opportunities that best suit your skillset.</p>
<p>In the meantime, if you want to know more about the vetting process or have
    any queries, please reply to this email.
</p>

<p>Thank You</p>