<p>Hello {{name}},</p>

<p>Thank you for choosing Talentpoint to hire the best english-speaking remote
    talent from Nepal.</p>

<p>We go through an intensive vetting process to serve you with the best
    available talents. Our recruitment process is fast, reliable, and
    hassle-free.
</p>

<p>Why should you hire with us?</p>

<ul>
    <li>
        Save more than 60% on salary and employee benefits.
    </li>
    <li>
        Remove the hassle of hiring and retaining employees.
    </li>
    <li>
        Choose from a wide range of remote talents.
    </li>
    <li>
        No need to worry about local regulations.
    </li>
</ul>

<p>Your call with our executive has been scheduled on:</p>
{{callTime}}

<p>
    If you would like to know more, please reply to this email.
</p>

<p>
    Thank you,
</p>