<div id='email' style='width:600px;margin: auto;background:white;'>
    <!-- Header -->
    <table role='presentation' border='0' width='100%' cellspacing='0'>
        <tr>
            <td bgcolor='#FFFFFF' align='center' style='padding:20px 0 ;'>
                <img alt='talents_point_logo' src='cid:logo' />
            </td>
        </tr>
    </table>

    <!-- Body 1 -->
    <table style='background-color: #FCF8E1;color: #FFFFFF;' role='presentation' border='0' width='100%'
        cellspacing='0'>
        <tr>
            <td style='padding: 30px 30px 30px 60px;text-align: center;'>
                <h3
                    style='color:#352E42 ;font-size: 18px;font-weight: 700;text-align: center;width: 430px;line-height: 28px;'>
                    {{heading}}</h3>
            </td>

        </tr>
       
    </table>

    <!-- Body 2-->
    <table role='presentation' border='0' width='100%' cellspacing='0'>

        <tr>
            <td style='vertical-align: top;
  padding: 30px 0px 30px 0px;text-align: center;'>
                <h3 style='color:#352E42 ;font-size: 18px;font-weight: 700;'>Get
                    In Touch</h3>
            </td>

        </tr>

    </table>

    {{! Body 3 }}
    <table width='150' align='center' border='0' cellpadding='0' cellspacing='5'>
        <tr style='text-align: center;'>
            <td style='font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;text-align: center;'>
                <a href='https://www.facebook.com/talentpointusa/' style='color: #ffffff;'>
                    <img style='margin: 0 5px;' src='cid:facebook' />
                </a>
            </td>
            <td style=''>
                <a href='https://www.instagram.com/talentpointusa/' style='color: #ffffff;'>
                    <img style='margin: 0 5px' src='cid:instagram' />
                </a>
            </td>
            <td style='font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;'>
                <a href='https://www.linkedin.com/company/talentpointusa/' style='color: #ffffff;'>
                    <img style='margin: 0 5px' src='cid:linkedin' />
                </a>
            </td>
        </tr>

    </table>

    <table width='100%' style='margin: 20px 0;'>
        <tr style='text-align: center;'>
            <td style='text-align: center;'>
                <p style='font-size:14px ;font-weight: 500px;color: #675F75;margin: 0 5px;'>Terms Of Service</p>
            </td>
            <td>

                <p style='font-size:14px ;font-weight: 500px;color: #675F75;margin: 0 5px;'>Our Policies</p>
            </td>
            <td>

                <p style='font-size:14px ;font-weight: 500px;color: #675F75; margin: 0 5px;'>Help Center</p>
            </td>

        </tr>
    </table>

    <!-- Footer -->
    <table role='presentation' border='0' width='100%' cellspacing='0'>
        <tr>
            <td bgcolor='#262626' style='padding: 30px 30px;text-align: center;height: 51px;'>
                <p style='font-size:14px ;font-weight: 500px;color: #FFFFFF;'>
                    &copy; 2022 Talentpoint. All Rights Reserved.</p>
            </td>
        </tr>
    </table>
</div>